{{ define "email.subject" }}
[ALERT] {{ .CommonLabels.alertname }} ({{ .Status }})
{{ end }}

{{ define "email.html" }}
<html>
  <body>
    <h2 style="color:red;">Alert: {{ .CommonLabels.alertname }}</h2>

    <p><b>Status:</b> {{ .Status }}</p>
    <p><b>Severity:</b> {{ .CommonLabels.severity }}</p>

    <h3>Details</h3>
    <ul>
      {{ range .Alerts }}
        <li>
          <b>Instance:</b> {{ .Labels.instance }}<br/>
          <b>Description:</b> {{ .Annotations.description }}<br/>
          <b>StartsAt:</b> {{ .StartsAt }}
        </li>
      {{ end }}
    </ul>
  </body>
</html>
{{ end }}